<header>
  <div class="container">
    <div class="rowFlex headerBlock">
      <div class="userIcon">
        <a routerLink="/login" routerLinkActive="active">
          <img src="assets/images/usericon.png" alt="">
        </a>
      </div>
      <div class="zagelmainLogo">
        <a routerLink="/" routerLinkActive="active">
          <img src="assets/images/zagellogo.png" alt="">
        </a>
      </div>
      <div class="searchBlock">
        <img src="assets/images/search-icon.png" alt="">
      </div>
    </div>
  </div>
</header>
