

<!-- {{article.Breif}} -->





<div class="container">
  <div class="row">
     <div class="Image-news w-100">
      <img src="https://img.thezagelapp.com/{{news.Img}}"  class="NewsImg" alt="..." title="">
     </div>
     <div class="Source-Topic">
        <div class="Source-date">
          <img class="img-Source" src="https://img.thezagelapp.com/img/source/{{news.SourceID}}.jpg">
          <div class="Title-Date">
            <p>{{news.SourceTitle}}</p>
            <p>{{news.FormatedDate}}</p>
          </div>
        </div>
        <div class="Topic-Name">
          <span>{{news.SectionTitle}}</span>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
     </div>

  </div>
  <div class="row">
    <div  *ngFor="let item of Details">
     <div  *ngIf="item.Type === 'Text'">
        <p>{{item.Text}}</p>
     </div>
     <div  *ngIf="item.Type === 'Video'" >
    </div>
     <div  *ngIf="item.Type === 'Image'">
      <img src="https://img.thezagelapp.com/{{item.Text}}">
    </div>
      <!-- <p *ngIf="item.Type === 'Image'" [innerHTML]="item.Text">
          <img [src]="item.Text">
        </p> -->
        <!-- {{item.Text}} -->
      <!-- <iframe *ngIf="item.Type === 'Video'" [innerHTML]="item.Text"  [src]="item.Text" title="W3Schools Free Online Web Tutorials"></iframe> -->

    </div>
  </div>

</div>

<!-- [innerHTML]="news.content[0].content" -->

<!-- [innerHTML]="Details" -->
