<div *ngFor="let post of posts;let i = index" >
  <div  class="newscardsBlock bgColor" *ngIf="post.ID != 0" [ngClass]="{ 'Breaking-news':post.SectionID===1, 'Sports':post.SectionID===2, 'art':post.SectionID===3, 'Arabs-world':post.SectionID===4, 'Economie':post.SectionID===5, 'science-technology':post.SectionID===6, 'Investigations-dialogues':post.SectionID===8, 'Women-Miscellaneous':post.SectionID===9, 'Saw-articles':post.SectionID===11, 'accidents':post.SectionID===17, 'Health-Medicine':post.SectionID===18, 'Cars':post.SectionID===27, 'tourism':post.SectionID===28}">
    <div class="calss-{{i}}" [ngClass]="i === i ? 'OpenT': 'CloseT'">
        <div class="Div" id="{{i + 1}}" *ngIf="visibleIndex != i; else elseBlock2">
          <div class="head-news">
            <span>{{post.SectionTitle}}</span>
            <div  class="IconNewscog" (click)='toogleIcon(i)' [ngClass]="isActiveNewscog ? 'OpenNewscog': 'CloseNewscog'">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <div class="dropdownNews" (click)="showSubItem(i)">
                <!-- <i class="fa fa-eye-slash" aria-hidden="true"></i> -->
                <p>اخفاء الخبر</p>
              </div>
            </div>
         </div>
         <a routerLink="/news/{{post.ID}}" routerLinkActive="active" class="Acard">
          <div *ngIf="post.Ratio != 0; else elseBlock">
            <img src="https://img.thezagelapp.com/{{post.Img}}" class="card-img-top" alt="..." title="" />
          </div>
          <ng-template #elseBlock>
            <img src="../../../assets/images/NotImage.jpg" class="card-img-top" alt="..." title="" />
          </ng-template>

        </a>
        <div class="card-body">
          <div class="imgSource-icon d-flex justify-content-between">
            <div class="imgSource-right">
              <a routerLink="/source/{{post.SourceID}}">
                <img class="img-Source" src="https://img.thezagelapp.com/img/source/{{post.SourceID}}.jpg" alt=""
                  title="" />
              </a>
              <div _ngcontent-uek-c21="" class="Title-Date">
                <a class="SourceTitle" routerLink="/source/{{post.SourceID}}">
                  <p _ngcontent-uek-c21="">{{post.SourceTitle}}</p>
                </a>
                <p _ngcontent-uek-c21="">{{post.FormatedDate}}</p>
              </div>
            </div>
            <div class="card-icon">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
          </div>
          <h3 class="card-title" [class]="post.TitleAlign">
            <a routerLink="/news/{{post.ID}}" routerLinkActive="active">
              {{ post.Title }}
            </a>
          </h3>
        </div>
        </div>
    </div>
   <ng-template #elseBlock2 >
    <div class="divtemplate">
      <span>تم اخقاء الخبر</span>
      <button class="btn btn-light mr-1" (click)="showSubItem(i)">تراجع</button>
    </div>
  </ng-template>
  <!-- <div class="divtemplate" *ngIf="visibleIndex == i">
    <span>تم اخقاء الخبر</span>
    <button class="btn btn-light mr-1" (click)="showSubItem(i)">تراجع</button>
  </div> -->




  </div>
  <div class="" *ngIf="post.ID == 0">
    <!-- Matches widjet -->
    <div class="matchescardsBlock" *ngIf="post.MatchToDay !== null " [ngClass]="isActive ? 'OpenMore': 'CloseMore'">
      <div class="rowFlex justify-content-between">
        <p class="TitleSportZagel">زاجل سبورت</p>
      </div>
      <div class="SportCard"  *ngFor="let match of post.MatchToDay">
        <p class="matchLeagueName">{{match.LeagueName}}</p>
        <div class="zagelsportCard">
          <div class="rowFlex">
            <div class="matcheswidjetCard">
              <img src="https://img.thezagelapp.com/{{match.HomeTeamLogo}}"  class="zagelsportImg" alt="..." title=""/>
              <p class="card-title C">{{match.HomeTeam}}</p>
            </div>
            <div class="matchedetailsCard">
              <div class="row cardtitleGoals">
                <p class="matchFormatedDate">{{match.FormatedDate}}</p>
                <p class="matchHomeGoals">{{match.HomeGoals}}</p>
                <p class="matchVS">VS</p>
                <p class="matchHomeGoals">{{match.AwayGoals}}</p>
              </div>
              <p class="MatchStatusName">{{match.MatchStatusName}}</p>
            </div>
            <div class="matcheswidjetCard">
              <img src="https://img.thezagelapp.com/{{match.AwayTeamLogo}}"  class="zagelsportImg" alt="..." title=""/>
              <p class="card-title C">{{match.AwayTeam}}</p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btnMore" (click)='ClickMore()'>المزيد</button>
    </div>
    <!-- Picks -->
    <div class="pickscardsBlock" *ngIf="post.Picks !== null ">
      <div class="rowFlex justify-content-between">
        <p>مختارات زاجل</p>
        <img src="assets/images/search-icon.png" alt="">
      </div>
      <div class="rowFlex">
        <div  class="swiper-container picksContainer" [swiper]="config2" >
          <div class="swiper-wrapper">
            <div class="picksCard swiper-slide" *ngFor="let pick of post.Picks">
              <img src="https://img.thezagelapp.com/{{pick.Img}}"  class="card-img-top" alt="..." title=""/>
              <div class="cardPadding">
                  <h3 [class]="pick.TitleAlign" TitleAlign>{{pick.Title}}</h3>
                  <div class="rowFlex divSlideText">
                    <div class="pickBlockImg">
                      <img src="https://img.thezagelapp.com/{{pick.Img}}" class="pickImg"  alt="" title=""/>
                    </div>
                    <p>{{pick.SourceTitle}}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Prayer -->
    <div class="prayercardsBlock" *ngIf="post.Prayer !== null ">
        <div class="rowFlex justify-content-between">
          <p>مواقيت الصلاة</p>
          <img src="assets/images/search-icon.png" alt="">
        </div>
      <!-- <div class="rowFlex">
        <div class="twoprayerBlocks prayerBlocks">
          <div class="rowFlex">
            <p>الفجر</p>
            <i></i>
          </div>
          <p>{{post.Prayer.Fajr}}</p>
        </div>
        <div class="twoprayerBlocks prayerBlocks">
          <div class="rowFlex">
            <p>المغرب</p>
            <i></i>
          </div>
          <p>{{post.Prayer.Maghrib}}</p>
        </div>
      </div> -->
      <div class="rowFlex">
        <div class="fourprayerBlocks prayerBlocks">
          <p>الفجر</p>
          <i></i>
          <p>{{post.Prayer.Fajr}}</p>
        </div>
        <div class="fourprayerBlocks prayerBlocks">
          <p>الشروق</p>
          <i></i>
          <p>{{post.Prayer.Sunrise}}</p>
        </div>
        <div class="fourprayerBlocks prayerBlocks">
          <p>الظهر</p>
          <i></i>
          <p>{{post.Prayer.Dhuhr}}</p>
        </div>
        <div class="fourprayerBlocks prayerBlocks">
          <p>العصر</p>
          <i></i>
          <p>{{post.Prayer.Asr}}</p>
        </div>
        <div class="fourprayerBlocks prayerBlocks">
          <p>المغرب</p>
          <i></i>
          <p>{{post.Prayer.Maghrib}}</p>
        </div>
        <div class="fourprayerBlocks prayerBlocks">
          <p>العشاء</p>
          <i></i>
          <p>{{post.Prayer.Isha}}</p>
        </div>
      </div>
      <div class="rowFlex timeCity">
        <p>{{post.Prayer.CityName}}</p>
        <p>{{post.Prayer.Date}}</p>
      </div>
    </div>
    <!-- RecommendedSource -->
    <div *ngIf="post.RecommendedSource !== null" hidden>
      RecommendedSource

    </div>
    <!-- ads -->
    <div class="ads" *ngIf="post.UnitID !== null ">
      {{post.UnitID}}
    </div>
  </div>
</div>
