@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~swiper/css/swiper.min.css';
@font-face{font-family:cairolight;src:url(assets/fonts/Cairo-Light.ttf)}
@font-face{font-family:cairoregular;src:url(assets/fonts/Cairo-Regular.ttf)}
@font-face{font-family:cairobold;src:url(assets/fonts/Cairo-Bold.ttf)}

*{direction: rtl;font-family:cairolight;}
html, body { height: 100%; }
body { margin: 0;background:#BBBBBC}
.rowFlex{display: flex;flex-wrap: wrap;}
.newscardsBlock{margin-bottom: 25px;border-radius: 20px;}
.matchescardsBlock{margin-bottom: 25px;background:#F8F8F8;padding:10px;border-radius: 20px;}
.pickscardsBlock{margin-bottom: 25px;background:#F8F8F8;padding:10px;border-radius: 20px;}
.pickscardsBlock .picksCard{background: #fff;width: calc(50% - 1%); margin-left: 2%;;}
.pickscardsBlock .picksCard:nth-child(2n + 0){margin-left: 0;}
.prayercardsBlock{margin-bottom: 25px;background:#F8F8F8;padding:10px;border-radius: 20px;}
.prayerBlocks{background:#fff;border-radius: 10px; margin-bottom: 10px;padding:8px 0}
/* .twoprayerBlocks{width: calc(50% - 0.5%);margin-left: 1%;}
.twoprayerBlocks:nth-child(2){margin-left: 0;} */
.fourprayerBlocks{width:calc(16.8% - 1%);margin-left: 1%;}
.fourprayerBlocks:nth-child(6){margin-left: 0;}
.fourprayerBlocks p{text-align:center;}
.timeCity p{width: 50%;}
.timeCity p:nth-child(1){text-align:right;}
.timeCity p:nth-child(2){text-align:left;}
.card-body{background:rgba(255 ,255 ,255 );border-radius: 0 0 14px 14px;}
.card{margin: 10px 0;border-radius: 14px;}
.card-icon{color: rgba(187 ,187 ,188 )}
.card-icon i:first-child{ margin-left:10px;}
.card-icon i{font-size: 23px;}
.imgSource{width: 30px;}
.card-img-top{border-radius: 14px 14px 0px 0px;}
.card-title{font-size: 14px;margin-top: 10px;}
.card-title{font-family:cairobold!important;}
.card-title.C, .C{text-align: center;}
.card-title.R, .R{text-align: right;}
.mat-h3, .mat-typography h3{margin-top: 15px;font-size: 17px;font-family:cairobold;}
.cardPadding{padding:10px}
.pickImg{width: 100%;    display: block;}
.pickBlockImg{width: 30px; height: 30px; border-radius: 50px;border:1px solid #9c8686}
/* header */
header{height: 60px; background:#F5F5F5;width: 100%;display: block;}
.headerBlock{padding:0 20px}
.userIcon{background:#095EAB;width: 54px; height: 55px;border-radius: 27px;}
.zagelmainLogo{display: block;width: calc(100% - 75px);text-align: center;}
.zagelmainLogo img{margin-top: 12px;}
.searchBlock{width: 20px;height: 20px;margin-top:18px}
/* stories */
.storycontainerPosition{position: relative; background: #fff;padding: 15px 0;margin-bottom: 25px;}
.storycontainerPosition .swiper-button-next, .storycontainerPosition .swiper-button-prev {outline:none!important;}
.storyContainer{width: 90%;margin: auto;}
.storyblockCircle{ border-radius: 50px; padding:1px; background:#2699FB;}
.storyblockCircle img{display: block; width: 100%;border-radius: 50px;}
/* zagelsport */
.zagelsportCard{border:1px solid #095EAB;border-radius: 14px;width: 95%;margin: 10px auto 10px auto;padding:5px}
.zagelsportImg{max-width: 35px;display: block; margin:auto;}
.matcheswidjetCard{width: 30%;padding-top:20px}
.matchedetailsCard{width: 40%;    text-align: center;}
.MatchStatusName{border:1px solid #095EAB;padding:5px;max-width: 100px;margin: auto!important;border-radius: 50px;}
.cardtitleGoals{max-width: 120px;margin:auto;justify-content: space-between;margin-top: 10px;}
.matchHomeGoals{font-size:1.5em;color:#095EAB;}
.matchVS{font-size:1.5em;color:#095EAB;margin:0 12px}
.matchLeagueName{font-size:1em;color:#095EAB;}

/* News  */
.NewsImg{width: 100%;display: block;}
.Source-Topic{display:flex;justify-content:space-between;width:100%;padding:10px 20px;position: relative;}
.Source-Topic::before{content:'';position:absolute;top:-10px;background-color:#095EAB;width:100%;height:10px;right:0;border-radius:100px 100px 0 0;}
.Source-date{display:flex;text-align:right;align-items:center}
.img-Source{width: 80px;margin-left: 10px;}
.Title-Date p:last-child{margin:0;}
.Topic-Name span{margin-left: 6px;}
.ZagelGeneral{margin: 10px 0;}
.Post-Quare{margin-bottom: 25px;background:#F8F8F8;padding:10px;border-radius: 20px;}




/* sign in FORM */
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
  #logreg-forms{
      width:300px;
  }

  #logreg-forms  .social-login{
      width:200px;
      margin:0 auto;
      margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
      font-size: 1.3rem;
      font-weight: 100;
      color:white;
      width:200px;
      height: 56px;

  }
  #logreg-forms .social-btn:nth-child(1){
      margin-bottom: 5px;
  }
  #logreg-forms .social-btn span{
      display: none;
  }
  #logreg-forms  .facebook-btn:after{
      content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
      content:'Google+';
  }

}

/* footer */
footer{height: 65px; background: #fff;position: fixed;bottom: 0;width: 100%; display: flex;align-items: center;    border-radius: 40px 40px 0px 0px;    z-index: 9;}
