<div *ngFor="let post of posts">
  <div class="matchescardsBlock" *ngIf="post.MatchToDay !== null " style="height: 400px;overflow: hidden;">
    <div class="rowFlex justify-content-between">
      <p>زاجل سبورت</p>
      <img src="assets/images/search-icon.png" alt="">
    </div>
    <div class="zagelsportCard" *ngFor="let match of post.MatchToDay">
      <div class="rowFlex">
        <div class="matcheswidjetCard">
          <img src="https://img.thezagelapp.com/{{match.HomeTeamLogo}}"  class="zagelsportImg" alt="..." title=""/>
          <p class="card-title C">{{match.HomeTeam}}</p>
        </div>
        <div class="matchedetailsCard">
          <p class="matchLeagueName">{{match.LeagueName}}</p>
          <p>{{today | date:'medium'}}</p>
          <div class="row cardtitleGoals">
            <p class="matchHomeGoals">{{match.HomeGoals}}</p>
            <p class="matchVS">VS</p>
            <p class="matchHomeGoals">{{match.AwayGoals}}</p>
          </div>
          <p class="MatchStatusName">{{match.MatchStatusName}}</p>
        </div>
        <div class="matcheswidjetCard">
          <img src="https://img.thezagelapp.com/{{match.AwayTeamLogo}}"  class="zagelsportImg" alt="..." title=""/>
          <p class="card-title C">{{match.AwayTeam}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


